:root {
  --background-color: white;
  --dark-color: black;
  --pop-color: rgb(135, 206, 235);
  --soft-color: rgb(255, 100, 80);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Times New Roman', Times, serif;
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--background-color);
  display: grid;
  grid-template-rows: 6rem 1fr 3rem;
  grid-template-columns: 1fr 80% 1fr;
}

input,
textarea {
  font: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

header, footer {
  background-color: var(--pop-color);
  color: var(--dark-color);
}

nav a {
  color: var(--dark-color);
}

header {
  grid-column: 1 / 4;
  grid-row: 1;
  position: sticky;
  top: 0;
}

main {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

h1 {
  text-align: center;
}

nav li {
  text-align: center;
  font-size: 1.5rem;
}

nav a:hover,
nav a:active {
  border-bottom: 4px solid var(--soft-color);
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.about-images-container {
  display: flex;
}

.about-images {
  flex: 0 0 28%;
  padding: 5px;
  margin: 5px;
  box-shadow: 0px 5px 10px 0px var(--soft-color);
  border-radius: 20px;
}

.about-images img{
  object-fit: cover;
  border-radius: 10px;
}

.about-content{
  padding: 0.5rem;
  border-radius: 10px;
  justify-content: space-evenly;
  box-shadow: 0px 5px 10px 0px;
}

.about-content h2 {
  text-align: center;
}