:root {
  --background-color: white;
  --dark-color: black;
  --pop-color: rgb(135, 206, 235);
  --soft-color: rgb(255, 100, 80);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Times New Roman', Times, serif;
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--background-color);
  display: grid;
  grid-template-rows: 6rem 1fr 3rem;
  grid-template-columns: 1fr 80% 1fr;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

header, footer {
  background-color: var(--pop-color);
  color: var(--dark-color);
}

nav a {
  color: var(--dark-color);
}
